# Ignore macOS system files
.DS_Store
Icon?
*.csv

# Ignore Nextflow work directory (where intermediate files are stored)
work/

# Ignore folders like fastq files, genome index file 
test/
test_subsampled/
reference/
