# Ignore macOS system files
*.DS_Store
Icon?
*.csv
*.png
*.nextflow.log
*.nextflow.log.*

# Ignore Nextflow work directory (where intermediate files are stored)
work/

# Ignore folders like fastq files, genome index file 
test/
test_subsampled/
reference/
data/
results/
nf-macs3/
.nextflow/