params {
    FASTQC_CONTAINER="quay.io/biocontainers/fastqc:0.11.9--0"
    BWAMEM2_CONTAINER="quay.io/kyle92/bwamem2-gatk4:1.0.1"
    SAMTOOLS_CONTAINER="oras://community.wave.seqera.io/library/samtools:1.22--105e5e643c53f059"
    MOSDEPTH_CONTAINER="quay.io/biocontainers/mosdepth:0.3.10--h4e814b3_1"
    MACS3_CONTAINER = "quay.io/biocontainers/macs3:3.0.3--py39h0699b22_0"
    VEP_CONTAINER = "oras://community.wave.seqera.io/library/ensembl-vep:114.1--0eecf95b8cf78ad3"
    BCFTOOLS_CONTAINER = "community.wave.seqera.io/library/bcftools:1.2--90c7b6fdb96e230f"
    HTSLIB_CONTAINER = "community.wave.seqera.io/library/htslib:1.22--99509e7a1b6424eb"
    MULTIQC_CONTAINER="quay.io/biocontainers/multiqc:1.29--pyhdfd78af_0"
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    executor = 'local'

    withLabel: 'process_medium' {
        cpus = 8
    }

    withLabel: 'process_high' {
        cpus = 8
    }
}

// Disable singularity to avoid conflicts
singularity {
    enabled = false
}
